*.sublime-*
tools/buildonwrite.json
people.json
tools/node_modules
public/styles/*.css
public/images/photos/*.jpg
node_modules
data/photos/*.jpg
tools/*.json
config/default.json
config/config.json
.eslintrc.json
