*.sublime-*
.vscode
node_modules
people.json
config/config.json
config/default.json
data/maps/custom
data/photos/*.jpg
tools/*.json
tools/buildonwrite.json
tools/node_modules
**/dist/*
.cache
package-lock.json
public/*
