*.sublime-*
.vscode
node_modules
config/config.json
config/default.json
data/maps/custom
data/photos/*.jpg
people.json
public/images/photos/*.jpg
public/scripts
public/styles
tools/*.json
tools/buildonwrite.json
tools/node_modules
