<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Upload Test</title>
</head>

<body>

	<span id="upload-control">
		<a href="#">change photo</a>
		<input id="upload-file" type="file" name="photo" />
		<div class="preview">
			<img src="/images/photos/5201db41f5f4be9ae57e37a9.jpg" width="162" height="162" />
		</div>
	</span>

	<button type="submit">Save</button>
	<button class="clear">Clear</button>

	<script data-main="scripts/app" src="../scripts/require.js" type="text/javascript"></script>
	<script>
		(function () {
			var dataToUpload;

			var uploadControl = $('#upload-control').fileupload({
				url: '/people/5201db41f5f4be9ae57e37a9/photo',
				dataType: 'json',
				autoUpload: false,
				paramName: 'photo',
				previewMaxWidth: 162,
				previewMaxHeight: 162,
				previewCrop: true
			});

			uploadControl.on('fileuploadadd', function (event, data) {
				console.info("user chose a file to upload");
				clearPendingUploads();
				dataToUpload = data;
			});

			uploadControl.on('fileuploadsend', function (event, data) {
				console.info("uploading file", data.files[0].name);
			});

			uploadControl.on('fileuploadfail', function (event, data) {
				console.error(data.errorThrown);
				console.error(data.jqXHR.responseText);
			});

			uploadControl.on('fileuploaddone', function (event, data) {
				var uploadedFile = data.result.files[0];
				console.info("Finished uploading " + data.files[0].name + " to " + uploadedFile.url);
				uploadControl.find('.preview')
					.empty()
					.append($('<img>')
						.attr({
							src: '/images/photos/5201db41f5f4be9ae57e37a9.jpg?' + (+new Date()),
							width: 162,
							height: 162
						}));

			});

			uploadControl.on('fileuploadprocessdone', function (event, data) {
				var file = data.files[data.index];
				if (file.preview) {
					// console.info("preview image", file.preview);
					uploadControl.find('.preview')
						.empty()
						.append(file.preview);
				}
			});

			$('#upload-control a').click(function (event) {
				event.preventDefault();
				//user will click on the invisible file input instead, after some considerable CSS fiddling
			});

			$('[type=submit]').click(function (event) {
				event.preventDefault();

				if (dataToUpload) {
					dataToUpload.submit();
				} else {
					console.warn("Choose a file to upload.");
				}
			});

			$('.clear').click(function (event) {
				event.preventDefault();
				clearPendingUploads();
			});

			function clearPendingUploads() {
				dataToUpload && dataToUpload.abort();
				dataToUpload = null;
			}
		})();
	</script>
</body>

</html>