@grid_size: 10px;
@pane_width: 37 * @grid_size;

@office_count: 5;

@inactive_blue: #3d60a0;
@light_line_color: #7291e7;
@hover_background_color: rgba(255, 255, 255, 0.08);
@hot_blue: #3079ff;
@unavailable_red: #ff7d67;
/*@unavailable_red: #fc5579;*/
@available_green: #72f468;
/*@available_green: #89ff84;*/
