#detailsPane {
	.box-sizing(border-box);
	background    : rgba(0, 0, 0, 0.33);
	bottom        : 0;
	padding       : 3 * @grid_size;
	padding-right : 3 * @grid_size - 1;
	position      : fixed;
	right         : 0;
	top           : 0;
	width         : @pane_width;

	.photo {
		.box-sizing(border-box);
		border  : 1px solid @light_line_color;
		display : block;
		width   : 100%;
	}

	.name {
		font-family    : "Knockout 47";
		font-size      : 88px;
		line-height    : 80px;
		margin-left    : -2px;
		margin-top     : 17px;
		text-transform : uppercase;
	}

	.title {
		font-family : "Architect's Daughter";
		font-size   : 23px;
		line-height : 3 * @grid_size;
		margin-top  : 20px;
	}

	dl {
		margin-top: 2px + 3 * @grid_size;

		dt, dd {
			line-height: 30px;
		}

		dt {
			float          : left;
			font-family    : "Knockout 52";
			font-size      : 14px;
			padding-right  : 3 * @grid_size;
			text-align     : right;
			text-transform : uppercase;
			width          : 8 * @grid_size;
		}

		dd {
			border-left    : 1px solid @light_line_color;
			font-family    : "Architect's Daughter";
			font-size      : 17px;
			margin-left    : 11 * @grid_size;
			padding-bottom : 1 * @grid_size;
			padding-left   : 2.5 * @grid_size;
		}

		a:hover {
			color: @light_line_color;
		}
	}

	.content {
		display: none;
	}

	&.hasModel {
		.intro {
			display: none;
		}

		.content {
			display: block;
		}
	}

	.intro {
		h2 {
			font-family    : "Knockout 47";
			font-size      : 117px;
			line-height    : 82px;
			margin-left    : -3px;
			text-transform : uppercase;
		}

		.address {
			cursor      : pointer;
			font-family : "Architect's Daughter";
			font-size   : 19px;
			line-height : 3 * @grid_size;
			margin-top  : 20px;
			white-space : pre;

			&:hover {
				color: @light_line_color;
			}
		}

		.rating {
			background : url('../images/yelp_stars_blue.png') no-repeat -2px 999px;
			cursor     : pointer;
			height     : 15px;
			margin-top : 11px;
			width      : 84px;
		}
	}

	.corrections {
		background-color : transparent;
		bottom           : 0;
		font             : 15px "Knockout 32";
		left             : 0;
		line-height      : @grid_size;
		padding          : 3 * @grid_size;
		position         : absolute;
		right            : 0;
		text-transform   : uppercase;

		&::before {
			content      : '›';
			font-size    : 26px;
			margin-right : @grid_size;
		}

		&:hover {
			background-color: @hover_background_color;
		}
	}

	&.mv {
		.intro {
			background  : url('../images/building.png') no-repeat 50% 2px;
			padding-top : 207px;
		}
	}
}