#editor {
	margin-left: @pane_width + (6 * @grid_size);

	label {
		display: block;
		font-size: 17px;
	}

	input[type=text], input[type=email] {
		background: none;
		border: none;
		padding: 0;
		color: black;
		font-size: inherit;
	}

	.helper_link {
		font-size: 15px;
	}

	section {
		margin-left: @editor_photo_size + @editor_magic_size;
		margin-bottom: @editor_magic_size;

		h1 {
			font: 20px "Knockout 52";
			text-align: right;
			.gray-text(64%);
			text-transform: uppercase;
			width: @editor_photo_size;
			float: left;
			margin-left: -1 * (@editor_magic_size + @editor_photo_size);
		}
	}

	.basics {
		margin-top: 6 * @grid_size;
		margin-bottom: 84px;

		.photo { 
			float        : left;
			text-align   : right;
			.gray-text(35%);

			img {
				display : block;
				height  : @editor_photo_size;
				width   : @editor_photo_size;

				+ div {
					margin-top: 4px;
				}
			}
		}

		[name=fullname] {
			.inputBox();
			font-family : "Knockout 51";
			font-size   : 88px;
			height: 1.1em;
			padding-top: 4px;
		}

		[name=title] {
			.inputBox();
			font-family : "Knockout 31";
			font-size   : 37px;
			.gray-text(35%);
			height: 1.1em;
			margin-top: 10px;
		}

		.inputBox(){
			border-bottom : 1px solid rgba(0,0,0,0.15);
			display       : block;
			width: 100%;
		}

		.fullname_sizer, .title_sizer {
			max-width: 888px;
			min-width: 430px;
			margin-left: @editor_photo_size + 43px;
			margin-right: 6 * @grid_size;
		}
	}

	.contact {
		label {
			@label_text_width : 132px;
			@label_width      : 420px;
			border-bottom     : 1px solid rgba(0,0,0,.15);
			width             : @label_width;
			position: relative;

			span, input[type=text], input[type=email] {
				padding-bottom: 4px;
			}

			span {
				.gray-text(50%);
				display        : inline-block;
				font-family    : "Knockout 32";
				vertical-align : bottom;
				width          : @label_text_width;
			}

			input[type=text], input[type=email] {
				cursor      : text; //cursor in padding region
				width       : @label_width - @label_text_width;
			}

			.helper_link {
				position: absolute;
				right: -35px;
				bottom: 4px;
			}

			+ label {
				input[type=text], input[type=email] {
					padding-top : 13px;
				}
			}
		}
	}

	.office, .tags {
		label {
			width: 150px;

			input[type=radio], input[type=checkbox] {
				margin-right: 10px;
			}

			+ label {
				margin-top: 14px;
			}
		}
	}

	.tags {
		@column_count: 3;
		@column_width: 150px;
		-webkit-column-count: @column_count;
		-moz-column-count: @column_count;
		column-count: @column_count;

		width: @column_count * @column_width;

		label {
			width: @column_width;
		}
	}

	.formControls {
		@save_button_width: 92px;
		padding-top: 1px; //to avoid collapsing sibling margins
		padding-left: @editor_photo_size + 0*@editor_magic_size - @save_button_width;

		[type=submit] {
			@submit_margin_top: 0;
			@submit_border_bottom: 3px;
			@submit_height: 41px;

			.border-radius(4px);
			.box-sizing(border-box);
			
			.submitButtonColors();
			border-style     : solid;
			border-width     : 0 1px @submit_border_bottom;
			color            : white;
			display          : block;
			font             : 17px "Knockout 52";
			height           : @submit_height + @submit_border_bottom;
			line-height      : @submit_height;
			margin-bottom    : 9px;
			margin-top       : @submit_margin_top;
			text-align       : center;
			text-decoration  : none;
			text-shadow      : 0 1px 0 rgba(0, 0, 0, 0.3);
			text-transform   : uppercase;
			width            : @save_button_width;

			&:active {
				margin-top: @submit_margin_top + @submit_border_bottom;
				border-bottom-width: 0;
				height: @submit_height;
			}

			&[disabled] {
				.submitButtonColors(100%);

				&:active {
					margin-top: @submit_margin_top;
					border-bottom-width: @submit_border_bottom;
					height: @submit_height + @submit_border_bottom;
				}
			}
		}

		.validationMessage {
			margin-left: @editor_magic_size;
		}
	}

	.submitButtonColors(@desaturation: 0%){
		@color: @hot_blue;
		background-color: desaturate(@color, @desaturation);
		border-color: desaturate(@color, @desaturation) desaturate(#1562ee, @desaturation) desaturate(#004fe1, @desaturation);

		&:hover {
			background-color: darken(desaturate(@color, @desaturation), 4%);
		}

		&[disabled]:hover {
			background-color: desaturate(@color, @desaturation);
		}
	}

}