@font-face {
    font-family: "Knockout 31";
    src: url('../fonts/Knockout-31-1.woff') format('woff');
}

@font-face {
    font-family: "Knockout 32";
    src: url('../fonts/Knockout-32-1.woff') format('woff');
}

@font-face {
    font-family: "Knockout 47";
    src: url('../fonts/Knockout-47-1.woff') format('woff');
}

@font-face {
    font-family: "Knockout 52";
    src: url('../fonts/Knockout-52-1.woff') format('woff');
}

@font-face {
    font-family: "Knockout 51";
    src: url('../fonts/Knockout-51-1.woff') format('woff');
}

@font-face {
    font-family: "Architect's Daughter";
    src: url('../fonts/ArchitectsDaughter.woff') format('woff');
}